parameters:
  level: max
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  paths:
    - lib/
  autoload_files:
    - %currentWorkingDirectory%/vendor/autoload.php