<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
        colors="true"
        bootstrap="vendor/autoload.php"
        failOnDeprecation="true"
        failOnRisky="true"
        failOnWarning="true"
        displayDetailsOnPhpunitDeprecations="true"
>
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>./lib</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <testsuites>
    <testsuite name="Badcow DNS Zone Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
