<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        colors="true"
        bootstrap="vendor/autoload.php"
        convertDeprecationsToExceptions="false"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./lib</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <testsuites>
    <testsuite name="Badcow DNS Zone Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
